.div{
    flex-direction: column;
}

#topo{
    max-width: 1000px;
    height: 352px;
    margin-right: auto;
    margin-left: auto;
    border-left: 2px solid rgb(255, 255, 255); 
    border-right: 2px solid rgb(255, 255, 255);
    background-image: url("../img/section-header/bg.png");
    
}
#imgIphone{
    width: 130px;
    height: 160px;
    float: center;
    position: relative;
    left: 22%;
    top: 54%;
    
}
#logoWith{
    width: 65px;
    height: 65px;
    align-self: center;
    position: relative;
    left: 5%;
    bottom: 27%;

}
#titleTopo{
    width: 200px;
    height: 45px;
    align-self: center;
    position: relative;
    left: 40%;
    bottom: 5%;
}
#iconHamburger{
    width: 20px;
    height: 20px;
    align-self: center;
    position: relative;
    left:  35%;
    bottom: 37%;
}

#meio{
    max-width: 1000px;
    height: 352px;
    margin-right: auto;
    margin-left: auto;
    border-left: 3px solid rgb(255, 255, 255); 
    border-right: 3px solid rgb(255, 255, 255); 
    background-color: rgb(220, 220, 220);
}

#imgTablet {
    width: 200px;
    height: 270px;
    position: relative;
    left: 80%;
    top: 82px;
}

#corpo{
    max-width: 1000px;
    height: 352px;
    margin-right: auto;
    margin-left: auto;
    border-left: 3px solid rgb(255, 255, 255); 
    border-right: 3px solid rgb(255, 255, 255); 
    background-color: rgb(255, 255, 255);
}

#imgPortfolio{
    width: 500px;
    height: 250px;
    position: relative;
    left: 0px;
    top: 102px;
}

#donate{
    max-width: 1000px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid rgb(59, 33, 173);
    background-image: url(../img/bg-donate.png);
}

#rodape{
    max-width: 1000px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid rgb(173, 33, 33);
}