#topo{
    max-width: 1000px;
    height: 352px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid rgb(255, 255, 255); 
    background-image: url("../img/section-header/bg.png");
    
}
#imgIphone{
    width: 130px;
    height: 160px;
    float: center;
    position: relative;
    left: 22%;
    top: 54%;
    
}
#logoWith{
    width: 65px;
    height: 65px;
    align-self: center;
    position: relative;
    left: 5%;
    bottom: 27%;

}
#titleTopo{
    width: 200px;
    height: 45px;
    align-self: center;
    position: relative;
    left: 40%;
    bottom: 5%;
}
#iconHamburger{
    width: 20px;
    height: 20px;
    align-self: center;
    position: relative;
    left:  35%;
    bottom: 37%;
}

#meio{
    border: 3px solid rgb(217, 241, 0);
    max-width: 1000px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
}

#corpo{
    border: 3px solid rgb(46, 196, 201);
    max-width: 1000px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
}

#donate{
    max-width: 1000px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid rgb(59, 33, 173);
    background-image: url(../img/bg-donate.png);
}

#rodape{
    max-width: 1000px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid rgb(173, 33, 33);
}